<!-- our clients Slider -->
  
  <div class="our-clients">
    <div class="slider-items-products">
      <!-- <div id="our-clients-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col6"> 
          
          <div class="item"> <a href="#"><img src="assets/images/brand1.html" alt="Image"></a> </div>
          
          <div class="item"> <a href="#"><img src="assets/images/brand2.png" alt="Image"></a> </div>
          
          <div class="item"> <a href="#"><img src="assets/images/brand3.png" alt="Image"></a> </div>
          
          <div class="item"> <a href="#"><img src="assets/images/brand4.png" alt="Image"></a> </div>
         
          <div class="item"> <a href="#"><img src="assets/images/brand5.png" alt="Image"></a> </div>
         
          <div class="item"> <a href="#"><img src="assets/images/brand6.png" alt="Image"></a> </div>
         
          <div class="item"> <a href="#"><img src="assets/images/brand7.png" alt="Image"></a> </div>
         
          
        </div>
      </div> -->
    </div>
  </div>
  <div class="bottom-service">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="bottom-service-box">
          <div class="box-outer">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="service-box-center"> <span class="bottom-service-title">Buy 2 items</span>
                <div class="description">
                  <div class="heading">Get one for free!</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
              <div class="service-box-center"> <span class="bottom-service-title">Daily Sales</span>
                <div class="description">
                  <div class="heading">Today up to 45% off!</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
              <div class="service-box-center"> <span class="bottom-service-title">NEW ARRIVAL</span>
                <div class="description">
                  <div class="heading">Sale up to 75% off</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 column">
              <div class="service-box-center"> <span class="bottom-service-title">UpTO 45% off</span>
                <div class="description">
                  <div class="heading">Your first purchase</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  
  <footer>
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-4 col-sm-3">
            <div class="footer-logo"><a href="index.html"><img src="assets/images/logo.png" alt="fotter logo"></a>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <h3 class="">Sign up for newsletter</h3>
            <span>Get the latest deals and special offers</span></div>
          <div class="col-md-5 col-sm-6">
            <form id="newsletter-validate-detail" method="post" action="#">
              <div class="newsletter-inner">
                <input class="newsletter-email" name='Email' placeholder='Enter Your Email'/>
                <button class="button subscribe" type="submit" title="Subscribe">Subscribe</button>
              </div>
            </form>
          </div> -->
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
            <div class="tabBlock" id="TabBlock-1">
              <ul class="list-links list-unstyled">
                <li><a [routerLink]="['/faq']">FAQs</a></li>
                <li><a [routerLink]="['/terms']">Terms &amp; Condition</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Insider<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
            <div class="tabBlock" id="TabBlock-3">
              <ul class="list-links list-unstyled">
                <li> <a [routerLink]="['/aboutus']">About Us</a> </li>
                <li> <a [routerLink]="['/contact']">Contact Us</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
            <div class="tabBlock" id="TabBlock-4">
              <ul class="list-links list-unstyled">
                <li> <a href="account_page.html">Account</a> </li>
                <li> <a [routerLink]="['/wishList']">Wishlist</a> </li>
                <li> <a [routerLink]="['/returnPolicy']">Return Policy</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
          <h3 class="links-title">Contact us</h3>
          <div class="footer-content">
            <div class="email"> <i class="fa fa-envelope"></i>
              <p>pranasuhita@gmail.com</p>
            </div>
            <div class="phone"> <i class="fa fa-phone"></i>
              <p>+91 999 999 999</p>
            </div>
            <div class="address"> <i class="fa fa-map-marker"></i>
            <p> Door No. 2-2-186/18/6, Ramakrishna Nagar, Amberpet, Hyderabad, Telangana 500013.</p>
            </div>
          </div>
          <div class="social">
            <ul class="inline-mode">
              <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href=" www.facebook.com/pranasuhita"><i class="fa fa-facebook"></i></a></li>
              <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
              <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-linkedin"></i></a></li>
              <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-rss"></i></a></li>
              <li class="social-network instagram"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2018 <a href="#"> Pranasuhita </a>. All Rights Reserved. </div>
          <div class="col-sm-6 col-xs-12">
            <div class="payment">
              <ul>
                <li><a href="#"><img title="Visa" alt="Visa" src="assets/images/visa.png"></a></li>
                <li><a href="#"><img title="Paypal" alt="Paypal" src="assets/images/paypal.png"></a></li>
                <li><a href="#"><img title="Discover" alt="Discover" src="assets/images/discover.png"></a></li>
                <li><a href="#"><img title="Master Card" alt="Master Card" src="assets/images/master-card.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="totop"> </a> 
  <!-- End Footer --> 
