  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&raquo;</span></li>
            <li><strong>My Account</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">
      
        
        <div class="page-content">
          
            <div class="account-login">
              
              <form #userLogin="ngForm" (ngSubmit)="onLogin(userLogin)">
          
              <div class="box-authentication">
                <h4>Login</h4>
               <p class="before-login-text">Welcome back! Sign in to your account</p>
                <label for="emmail_login">Email address<span class="required">*</span></label>
                <input id="username" type="text" [(ngModel)]="username" name="username" class="form-control">
                <label for="password_login">Password<span class="required">*</span></label>
                <input id="password" type="password" [(ngModel)]="password" name="password" class="form-control">
                <p class="forgot-pass"><a href="#">Lost your password?</a></p>
                <button class="button" type="submit" ><i class="fa fa-lock"></i>&nbsp; <span>Login</span></button><label class="inline" for="rememberme">
													<input type="checkbox" value="forever" id="rememberme" name="rememberme"> Remember me
												</label>
              </div>
              </form>
              {{userLogin.value | json}}
              <form #userRegister="ngForm" (ngSubmit)="onRegister(userRegister)">
              <div class="box-authentication">
                <h4>Register</h4><p>Create your very own account</p> 											
                <label for="mobile_register" >Mobile No.<span class="required">*</span></label>
                <input id="mobile_register" name="mobile" [(ngModel)]="mobile" type="text" class="form-control">
                <label for="name_register">Name<span class="required">*</span></label>
                <input id="name_register" name="name" [(ngModel)]="name" type="text" class="form-control">									
                <label for="emmail_register">Email address</label>
                <input id="emmail_register" name="email" [(ngModel)]="email" type="text" class="form-control">
                <button class="button" type="submit"><i class="fa fa-send"></i>&nbsp; <span>Register</span></button>
                <div class="register-benefits">
                      <h5>Sign up today and you will be able to :</h5>
                      <ul>
                        <li>Speed your way through checkout</li>
                        <li>Track your orders easily</li>
                        <li>Keep a record of all your purchases</li>
                      </ul>
                    </div>
                  </div>
   </form>
   <div>
    {{ userRegister.value | json}}
  </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Main Container End --> 