<div class="mini-cart">
    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="#">
      <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
      <div class="shoppingcart-inner"><span class="cart-title">Shopping Cart</span> <span class="cart-total">4 Item(s): $520.00</span></div>
      </a></div>
    <div>
      <div class="top-cart-content">
        <div class="block-subtitle hidden-xs">Recently added item(s)</div>
        <ul id="cart-sidebar" class="mini-products-list">
          <li class="item odd"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="assets/images/products/img07.jpg" alt="Lorem ipsum dolor" width="65"></a>
            <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
              <p class="product-name"><a href="#">Lorem ipsum dolor sit amet Consectetur</a> </p>
              <strong>1</strong> x <span class="price">$20.00</span> </div>
          </li>
          <li class="item even"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="assets/images/products/img08.jpg" alt="Lorem ipsum dolor" width="65"></a>
            <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
              <p class="product-name"><a href="#">Consectetur utes anet adipisicing elit</a> </p>
              <strong>1</strong> x <span class="price">$230.00</span> </div>
          </li>
          <li class="item last odd"> <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="assets/images/products/img10.jpg" alt="Lorem ipsum dolor" width="65"></a>
            <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
              <p class="product-name"><a href="#">Sed do eiusmod tempor incidist</a> </p>
              <strong>2</strong> x <span class="price">$420.00</span> </div>
          </li>
        </ul>
        <div class="top-subtotal">Subtotal: <span class="price">$520.00</span></div>
        <div class="actions">
          <button [routerLink]="['/checkout']" class="btn-checkout" type="button"><i class="fa fa-check"></i><span>Checkout</span></button>
          <button [routerLink]="['/shoppingcart']"  class="view-cart" type="button"><i class="fa fa-shopping-cart"></i> <span>View Cart</span></button>
        </div>
      </div>
    </div>
  </div>