   <!-- Breadcrumbs -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" [routerLink]="['/home']">Home</a><span>&raquo;</span></li>
            <li><strong>Contact Us</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
 <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-12">
          
          <div id="contact" class="page-content page-contact">
          
            
            <div class="row">

              <div class="col-xs-12 col-sm-6" id="contact_form_map">
                <!-- <div class="page-title"> -->
                  <h2>Contact Us</h2>
                <!-- </div> -->
                <div id="message-box-conact">We're available here.</div>
                <ul class="store_info">
                  <li><i class="fa fa-home"></i>Door No. 2-2-186/18/6, Ramakrishna Nagar, Amberpet, Hyderabad, Telangana 500013.</li>
                  <li><i class="fa fa-phone"></i><span>+ 012 315 678 1234</span></li>
                  <li><i class="fa fa-fax"></i><span>+39 0035 356 765</span></li>
                  <li><i class="fa fa-envelope"></i>Email: <span><a href="mailto:pranasuhita@gmail.com">pranasuhita@gmail.com</a></span></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h3 class="page-subheading">Make an enquiry</h3>
                <form #enquiryForm="ngForm" (ngSubmit)="saveEnquiry(enquiryForm)">
                  <div class="contact-form-box">
                    <div class="form-selector">
                      <label for="email">Name</label>
                      <input type="text" [(ngModel)]="Name" name="Name" class="form-control input-sm" id="name" />
                    </div>
                    <div class="form-selector">
                      <label for="email">Email</label>
                      <input type="text" [(ngModel)]="Email" name="Email" class="form-control input-sm" id="email" />
                    </div>
                    <div class="form-selector">
                      <label for="contact">Phone</label>
                      <input type="text" [(ngModel)]="Contact" name="Contact"  class="form-control input-sm" id="contact" />
                    </div>
                    <div class="form-selector">
                      <label for="message">Message</label>
                      <textarea class="form-control input-sm" [(ngModel)]="Message" name="Message" rows="10" id="message"></textarea>
                    </div>
                    <div class="form-selector">
                      <button class="button" type="submit"><i class="fa fa-send"></i>&nbsp; <span>Send Message</span></button>
                      &nbsp; <a href="#" class="button">Clear</a> </div>
                  </div>
                </form>
                    <div>
                      {{ enquiryForm.value | json}}
                    </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- Main Container End -->