 <!-- Start Menu Area -->
  <div class="menu-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 hidden-xs">
          <div class="main-menu">
            <nav>
              <ul>
                <li class="active custom-menu" routerLinkActive="Active">
                  <a [routerLink]="['/Home']">Home</a>
                </li>
                <li class="megamenu">
                  <a [routerLink]="['/Products']" >Shop</a>
                </li>
                <li class="megamenu">
                  <a [routerLink]="['./Aboutus']"> About Us </a>
                </li>
                <li class="megamenu">
                  <a [routerLink]="['/Contact']" > Contact us </a> 
                </li>
                <li class="megamenu">
                  <a [routerLink]="['/Faq']"  > FAQ </a> 
                </li>
                <!-- <li routerLinkActive="Active">
                  <a [routerLink]="['/Contact']" >Contact</a>
                </li> -->
              </ul>
            </nav>
            <!-- Signup -->
            <p class="top-Signup"><a href="#" class="" role="button" data-toggle="modal" data-target="#login-modal">Login/Signup</a></p>
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"> <img id="img_logo" src="assets/images/logo.png" alt="logo">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                  </div>
                  <div id="div-forms">
                    <form id="login-form">
                      <div class="modal-body">
                        <div id="div-login-msg"> <span id="text-login-msg">Username or email address </span> </div>
                        <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                        <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                            Remember me </label>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div>
                          <button type="submit" class="btn-login">Login</button>
                        </div>
                        <div>
                          <button onclick="location.href='account_page.html'" id="login_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- END # MODAL LOGIN --> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Menu Area --> 
  
  <!-- Start Mobile Menu -->
  <div class="mobile-menu hidden-sm hidden-md hidden-lg">
    <nav><span class="mobile-menu-title">Categories</span>
      <ul>
          <li class="active custom-menu" routerLinkActive="Active">
              <a [routerLink]="['/Home']">Home</a>
            </li>
            <li class="megamenu">
              <a [routerLink]="['/Products']" >Shop</a>
            </li>
            <li class="megamenu">
              <a [routerLink]="['./Aboutus']"> About Us </a>
            </li>
            <li class="megamenu">
              <a [routerLink]="['/Contact']" > Contact us </a> 
            </li>
            <li class="megamenu">
              <a [routerLink]="['/Faq']"  > FAQ </a> 
            </li>
      </ul>
    </nav>
  </div>
  <!-- End Mobile Menu --> 